<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maqueta</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../assets/base.css">
</head>

<body class="bg-gray-100 text-gray-800">
    <!-- Header -->
    <header class="bg-gray-200 border-b p-3">
        <div class="container mx-auto flex justify-between items-center">

            <nav class="flex items-center space-x-4">
                <a href="./base.html">
                    <img src="../assets/img/logo.png" alt="Logo de la Empresa" class="h-8 w-auto">
                </a>
                <a href="./who_we_are.html" class="text-gray-800 hover:text-gray-600 hidden sm:inline">¿Quiénes
                    somos?</a>

                <a href="./products_and_services.html"
                    class="text-gray-800 hover:text-gray-600 hidden sm:inline">Productos</a>

                <a href="./projects.html" class="text-gray-800 hover:text-gray-600 hidden sm:inline">Proyectos</a>

            </nav>

            <!-- Icono de menú y carrito para móviles -->
            <div class="flex space-x-4 md:hidden">
                <!-- Menú hamburguesa -->
                <button id="menu-button" class="text-gray-800 focus:outline-none">
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4 6h16M4 12h16M4 18h16"></path>
                    </svg>
                </button>
            </div>

            <!-- Navegación (oculta en móviles) -->
            <nav class="hidden md:flex space-x-4">
                <a href="./contact_us.html" class="text-gray-800 hover:text-gray-600 hidden sm:inline">Contactenos</a>
                <a href="./login.html" class="text-gray-800 hover:text-gray-600">Iniciar sesión</a>
            </nav>
        </div>

        <!-- Menú desplegable en móviles -->
        <div id="mobile-menu" class="hidden md:hidden bg-gray-100">
            <nav class="flex flex-col p-4 space-y-2">
                <a href="./login.html" class="text-gray-800 hover:text-gray-600">Iniciar sesión</a>
                <hr>
                <a href="./contact_us.html" class="text-gray-800 hover:text-gray-600">Contactenos</a>
                <a href="./who_we_are.html" class="text-gray-800 hover:text-gray-600">¿Quiénes
                    somos?</a>
                <a href="./products_and_services.html" class="text-gray-800 hover:text-gray-600">Productos</a>
                <a href="./projects.html" class="text-gray-800 hover:text-gray-600">Proyectos</a>
            </nav>
        </div>
    </header>

    <main class="container mx-auto p-4 pb-24">
        <div class="container mx-auto py-10 px-4 md:px-0">
            <div class="grid grid-cols-1 gap-8">
                <!-- Información del Producto -->
                <div class="p-4 bg-white rounded-lg shadow-md">
                    <h2 class="text-xl font-bold text-gray-800">Proyecto XYZ</h2>
                    <p class="text-gray-600 mb-2">Descripción breve del proyecto.</p>

                </div>

                <div class="relative w-full max-w-4xl mx-auto overflow-hidden bg-white rounded-lg shadow-lg">
                    <div class="carousel-inner relative flex">
                        <!-- Imagen 1 -->
                        <div
                            class="carousel-item top-0 left-0 w-full transition-all duration-500 ease-in-out opacity-0">
                            <img src="../assets/img/photo01.jpg" class="w-full h-full object-cover rounded-lg"
                                alt="Producto 1">
                        </div>
                        <!-- Imagen 2 -->
                        <div
                            class="carousel-item absolute top-0 left-0 w-full transition-all duration-500 ease-in-out opacity-0">
                            <img src="../assets/img/photo02.jpg" class="w-full h-full object-cover rounded-lg"
                                alt="Producto 2">
                        </div>
                        <!-- Imagen 3 -->
                        <div
                            class="carousel-item absolute top-0 left-0 w-full transition-all duration-500 ease-in-out opacity-0">
                            <img src="../assets/img/photo03.jpg" class="w-full h-full object-cover rounded-lg"
                                alt="Producto 3">
                        </div>

                        <!-- Controles -->
                        <button onclick="moveSlide(-1)"
                            class="absolute top-1/2 left-0 transform -translate-y-1/2 px-4 py-3 bg-gray-800 text-white rounded-full">
                            &#10094;
                        </button>
                        <button onclick="moveSlide(1)"
                            class="absolute top-1/2 right-0 transform -translate-y-1/2 px-4 py-3 bg-gray-800 text-white rounded-full">
                            &#10095;
                        </button>
                    </div>

                </div>

            </div>

            <!-- Información Adicional del Producto -->
            <div class="mt-12 bg-white p-8 rounded-lg shadow-lg">
                <h2 class="text-2xl font-semibold text-gray-800 mb-4">Descripciones de las imagenes</h2>
                <ul class="list-disc pl-6 text-gray-700">
                    <li>Imagen 1: ---------------</li>
                    <li>Imagen 2: ---------------</li>
                    <li>Imagen 3: ---------------</li>
                </ul>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <footer class="bg-gray-200 text-black p-3 text-center">
        <p>&copy; 2024 Lore Pemsun</p>
    </footer>


    <script>
        // JavaScript para mostrar/ocultar el menú desplegable en móviles
        const menuButton = document.getElementById('menu-button');
        const mobileMenu = document.getElementById('mobile-menu');

        menuButton.addEventListener('click', () => {
            mobileMenu.classList.toggle('hidden');
        });

        /// JavaScript para el slider
        let slideIndex = 0;
        showSlides();

        function moveSlide(n) {
            slideIndex += n;
            showSlides();
        }

        function showSlides() {
            const slides = document.querySelectorAll(".carousel-item");
            if (slideIndex >= slides.length) {
                slideIndex = 0;
            }
            if (slideIndex < 0) {
                slideIndex = slides.length - 1;
            }
            slides.forEach((slide, index) => {
                slide.style.opacity = (index === slideIndex) ? "1" : "0";
                slide.style.transition = "opacity 1s ease-in-out";
            });
        }

    </script>

</body>

</html>